body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.full-width {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

.calendar-wrapper {
  margin-top: 10px;
  height: calc(100vh - 170px);
}

#calendar .fc-event {
  background-color: rgb(47, 47, 47);
  border: none;
}

#calendar .fc-event .fc-bg {
  opacity: 0;
}

.table-wrapper {
  overflow-x: auto;
}

.DayPicker {
  display: block !important;
}

.DayPicker:focus {
  outline: none !important;
}

.DayPicker-wrapper:focus {
  outline: none !important;
}

.DayPicker-Months:focus {
  outline: none !important;
}

.label {
  margin-top: 25px !important;
  background: red !important;
  min-width: 100% !important;
  box-sizing: border-box !important;
}

@media (max-width: 1000px) {
  .flex {
    flex-flow: wrap column;
  }
}
