body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.full-width{
  width:100%;
}

.ml-auto{
  margin-left:auto;
}

.calendar-wrapper{
  margin-top: 10px;
  height: calc(100vh - 300px);
}

#calendar .fc-event{
  background-color: rgb(47, 47, 47);
  border-color: rgb(47, 47, 47);
}

#calendar .fc-event .fc-bg{
  opacity: 0;
}