:root {
  --wteal: #53dcb6;
  --wteal-hover: #4ead91;
  --svg-gray: #727271;
  --gray: #9b9b9b;
  --gray-light: #d8d8d8;
  --gradient: linear-gradient(90deg, rgb(0, 223, 179), rgb(34, 198, 252));
  --black: #3c3c3b;
}

.full-width {
  width: 100%;
}

.calendar-wrapper {
  margin-top: 10px;
  height: calc(100vh - 170px);
}

#calendar .fc-event {
  background-color: rgb(47, 47, 47);
  border: none;
  text-align: start;
}

#calendar .fc-event .fc-bg {
  opacity: 0;
}

.table-wrapper {
  overflow-x: auto;
}

.DayPicker {
  display: block !important;
}

.DayPicker:focus {
  outline: none !important;
}

.DayPicker-wrapper:focus {
  outline: none !important;
}

.DayPicker-Months:focus {
  outline: none !important;
}

.DayPicker-Month .DayPicker-Caption {
  font-weight: bold;
}

.label {
  margin-top: 25px !important;
  background: red !important;
  min-width: 100% !important;
  box-sizing: border-box !important;
}

/* New additions 2018-10-08 */

.DayPicker-Month .DayPicker-Caption {
  display: none;
}

.DayPicker-Custom-Nav-Arrow {
  color: var(--wteal);
  cursor: pointer;
}

.DayPicker-Custom-Nav {
  display: flex;
  font-weight: bold;
}

.DayPicker-Day.DayPicker-Day--selected {
  background-color: var(--wteal) !important;
}

.DayPicker-Day.DayPicker-Day--selected:focus,
.DayPicker-Day:active {
  outline: none;
}

div.DayPicker-Day {
  background-color: var(--gray-light);
  border-radius: 0;
  border: solid 2px white;
}

div.DayPicker-Day--today {
  color: var(--wteal-hover);
}

.stats-container-row {
  display: flex;
  align-items: center;
}

.stats-container hr {
  margin: 10px 0;
}

.stats-container-row > span {
  margin-right: 20px;
  color: var(--gray);
  width: 100px;
}

.stats-container-row div svg {
  color: var(--wteal);
}

.ml-auto {
  margin-left: auto !important;
}

.badge {
  border-radius: 50%;
  background-color: white;
  color: var(--black);
  width: 25px;
  height: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.text--black {
  color: var(--black) !important;
}

.text--teal {
  color: var(--wteal) !important;
}

.text--gray {
  color: var(--gray) !important;
}

.header {
  font-family: Montserrat;
  color: var(--black);
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
}

.table-header {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--black);
}

.btn-flat {
  color: var(--wteal);
  background-color: transparent;
  padding: 10px 30px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
}

.select > div > div {
  min-width: 250px;
  font-family: "Open Sans";
}

input {
  font-family: "Open Sans";
}

.btn-flat:hover {
  color: var(--wteal-hover);
}

.btn {
  background-color: var(--wteal);
  color: white;
  padding: 10px 30px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-family: Montserrat;
  font-size: 14px;
  min-width: 140px;
  text-align: center;
}

.btn-icon {
  color: var(--gray);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  display: flex;
  padding: 10px 30px;
}

.btn:hover {
  background: var(--wteal-hover);
}

.btn-icon:hover svg g {
  fill: var(--wteal-hover);
}

.btn-icon:hover {
  background: var(--gray-light);
}

.btn:active,
.btn-icon:active,
.btn-flat:active {
  outline: none;
}

.low {
  background-color: #8bf1da !important;
  border: #8bf1da !important;
}

.med {
  background-color: #64d8b6 !important;
  border: #64d8b6 !important;
}

.med-high {
  background-color: #4ead91 !important;
  border: #4ead91 !important;
}

.high {
  background-color: #377a66 !important;
  border: #377a66 !important;
}

.v-high {
  background-color: #1d4137 !important;
  border: #1d4137 !important;
}

.calendar-color-box {
  display: flex;
  justify-content: flex-end;
}

.calendar-color-box {
  margin-bottom: 10px;
  margin-top: 20px;
}

.calendar-color-box > * {
  width: 45px;
  text-align: center;
  color: white;
  padding: 2px;
  border-radius: 5px;
  margin: 0 2px;
  cursor: default;
}

.table-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.center {
  align-items: center;
  justify-content: center;
}

.bottom-nav button:not(:last-child) {
  border-right: solid var(--wteal) 2px;
}

.bottom-nav button {
  flex: unset;
  max-width: unset;
}

.bottom-nav span {
  font-size: 14px;
  font-family: "Open Sans";
}

.bottom-nav .selected span {
  color: var(--wteal);
}

.bottom-nav button {
  min-width: 120px;
}

.table-wrapper th {
  padding-bottom: 1.5px;
  background: var(--gradient) left bottom transparent no-repeat;
  background-size: 100% 1.5px;
  border: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 900;
  color: var(--black);
}

/* To line up header and first column of the table */

.table-wrapper th:first-child {
  padding-left: 0;
}

.table-wrapper td:first-child {
  padding-left: 0;
}

.table-wrapper td {
  border: none;
  font-family: "Open Sans";
  font-size: 14px;
}

.table-wrapper tr:not(:last-child) td {
  padding-bottom: 1.5px;
  background: var(--gradient) left bottom transparent no-repeat;
  background-size: 100% 1.5px;
}

/* Calendar CSS */

.fc-today {
  background-color: #8bf1da8f !important;
}

.calendar-wrapper thead th {
  font-family: Montserrat;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--black);
  font-size: 18px;
}

.calendar-wrapper thead tr td.fc-head-container {
  border-bottom: 3px solid rgb(0, 223, 179);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.calendar-wrapper table tbody.fc-body td:first-child {
  border: 0;
  width: 50px !important;
  text-align: center;
}

.calendar-wrapper table tbody.fc-body tr:nth-child(4n) td {
  border-bottom: solid #eee 1px;
}

.calendar-wrapper table table > thead > tr > th.fc-axis.fc-widget-header {
  width: 50px !important;
}

@media (max-width: 1000px) {
  .flex {
    flex-flow: wrap column;
  }
}
